/* global */
html {
  font-family: Helvetica, sans-serif;
  font-size: 62.5%;
  background: #111;
}
a {
  text-decoration: none;
  color: lightsalmon;
  transition: color 0.5s ease;
}
a:hover {
  color: black;
  transition: color 0.5s ease-in-out;
}
/* header */
.container {
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.6rem;
}
.container header {
  display: flex;
  justify-content: space-between;
  background: #505a64;
  padding: 20px 0;
  border-radius: 10px;
  margin: 0 0 10px 0;
}
.container header a {
  color: lightsalmon;
  text-shadow: #000 1px 1px 3px;
  font-size: 1.8rem;
  transition: all 0.5s;
}
.container header a:hover {
  color: white;
}
.container .logo {
  font-family: verdana;
  font-size: 3rem;
  letter-spacing: 2px;
  padding: 0 0 0 20px;
  color: lightsalmon;
  text-shadow: #000 1px 1px 0;
}
.container .main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container .main-menu .link {
  padding: 0 30px 0 0;
}
.container .project {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  background: #505a64;
  border-radius: 10px;
  padding: 10px;
}
.container .project h2 {
  font-size: 3rem;
  padding: 0 0 1.5rem 0;
}
.container .project .welcome {
  color: white;
  text-shadow: #000 2px 2px 4px;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.container .project .welcome .link:hover {
  color: white;
}
.container .project .preview {
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}
.container .project .preview a img {
  width: auto;
}
.container .project .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 10px;
  box-sizing: border-box;
}
.container .project .info .title {
  font-size: 2rem;
  color: white;
  text-shadow: #000 2px 2px 3px;
}
.container .project .info .desc {
  color: white;
  font-size: 1.7rem;
  text-shadow: #000 1px 1px 2px;
  line-height: 2rem;
}
.container .project .info a {
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  align-self: flex-end;
  transition: all 0.5s;
  text-shadow: #000 1px 1px 3px;
}
.container .project .info a:hover {
  background: #ffffff;
  text-shadow: none;
}
