/* global */
* {
  box-sizing: border-box;
}
html {
  font-family: Helvetica, sans-serif;
  font-size: 62.5%;
  background: #dadada;
}
a {
  text-decoration: none;
  color: black;
  transition: color 0.5s ease;
}
a:hover {
  transition: color 0.5s ease-in-out;
}
/* header */
header {
  background: coral;
}
header .header {
  width: 900px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (max-width: 950px) {
  header .header {
    width: 100%;
    padding: 0 20px 30px;
  }
}
header .header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
@media (max-width:768px) {
  header .header .logo {
    flex-direction: column;
    margin-bottom: 0;
  }
}
header .header .logo h1 {
  font-size: 3rem;
  font-family: "Courier New";
}
@media (max-width:768px) {
  header .header .logo h1 {
    margin-bottom: 40px;
  }
}
header .header .logo .main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header .logo .main-menu .link {
  padding: 0 0 0 30px;
}
@media (max-width:768px) {
  header .header .logo .main-menu .link {
    padding: 0 15px;
  }
}
header .header .welcome {
  margin-bottom: 20px;
}
header .header .welcome .welcome-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
@media (max-width:768px) {
  header .header .welcome .welcome-text {
    flex-direction: column-reverse;
  }
}
header .header .welcome .welcome-text .desc {
  width: 65%;
}
header .header .welcome .welcome-text .desc a {
  border-bottom: 1px dashed black;
}
header .header .welcome .welcome-text .desc a:hover {
  border-bottom: none;
}
@media (max-width:768px) {
  header .header .welcome .welcome-text .desc {
    font-size: 18px;
    text-align: center;
    line-height: 26px;
  }
}
header .header .welcome .welcome-text .social {
  width: 27%;
  display: flex;
  justify-content: space-between;
  font-size: 5rem;
}
@media (max-width:768px) {
  header .header .welcome .welcome-text .social {
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width:768px) {
  header .header .welcome .welcome-text .social a {
    margin: 0 10px;
  }
}
header .header .welcome .welcome-text .social a i {
  color: rgba(0, 0, 0, 0.8);
}
header .header .welcome .welcome-text .social a i:hover {
  color: black;
}
.container {
  width: 900px;
  margin: 0 auto;
  font-size: 1.6rem;
}
@media (max-width: 950px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
.container .section-title {
  font-size: 3rem;
  font-weight: bold;
  padding: 20px 0;
  margin: 0 0 20px 0;
}
.container .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .projects .project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 32%;
  margin: 0 0 60px 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: #aaa 5px 10px 10px;
  border-radius: 6px;
}
@media (max-width:768px) {
  .container .projects .project {
    width: 47%;
    margin: 0 0 30px 0;
  }
}
@media (max-width:500px) {
  .container .projects .project {
    width: 100%;
  }
}
.container .projects .project img {
  width: 100%;
  margin-bottom: 20px;
}
.container .projects .project .info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  min-height: 400px;
}
.container .projects .project .info .title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.2rem;
  margin: 0 0 8px 0;
}
.container .projects .project .info .desc {
  font-size: 1.4rem;
  line-height: 2rem;
}
@media (max-width:500px) {
  .container .projects .project .info .desc {
    margin-bottom: 15px;
  }
}
.container .projects .project .info .stack {
  padding: 0 0 15px 0;
  font-size: 11px;
  letter-spacing: 0.4px;
}
.container .projects .project .info .stack span {
  display: inline-block;
  background: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #bba;
  border-right: 1px solid #bbb;
  margin: 0 3px 3px 0;
  padding: 2px 4px;
}
.container .projects .project .info .stack span:hover {
  cursor: pointer;
}
.container .projects .project .info a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.2s;
  margin-top: auto;
  padding: 10px 0 0 0;
}
.container .projects .project .info a i {
  font-size: 3rem;
  padding: 0 6px 0 0;
}
.container .projects .project .info a span {
  font-size: 1.8rem;
}
footer {
  display: flex;
  justify-content: center;
  background: #222;
  font-size: 1.6rem;
  padding: 50px;
  color: white;
  text-align: center;
}
