/* global */
* {
  box-sizing: border-box;
}
html {
  font-family: Helvetica, sans-serif;
  font-size: 62.5%;
  background: #dadada;
}
a {
  text-decoration: none;
  color: black;
  transition: color 0.5s ease;
}
a:hover {
  transition: color 0.5s ease-in-out;
}
/* header */
header {
  background: coral;
}
header .header {
  width: 900px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}
header .header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
header .header .logo h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  color: black;
}
header .header .logo .main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header .logo .main-menu .link {
  padding: 0 0 0 30px;
}
header .header .welcome {
  margin-bottom: 20px;
}
header .header .welcome .welcome-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
header .header .welcome .welcome-text .desc {
  width: 65%;
}
header .header .welcome .welcome-text .social {
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.8);
}
header .header .welcome .welcome-text .social i:hover {
  color: black;
  cursor: pointer;
}
.container {
  width: 900px;
  margin: 0 auto;
  font-size: 1.6rem;
}
.container .projects {
  display: flex;
  flex-wrap: wrap;
}
.container .projects .project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 32%;
  margin: 0 18px 18px 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.05);
}
.container .projects .project:nth-child(3n) {
  margin-right: 0;
}
.container .projects .project img {
  width: 100%;
  margin-bottom: 20px;
}
.container .projects .project .info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
}
.container .projects .project .info .title {
  font-size: 1.6rem;
}
.container .projects .project .info .desc {
  font-size: 1.4rem;
  line-height: 2rem;
}
.container .projects .project .info a {
  display: inline-block;
  transition: all 0.2s;
  margin-top: auto;
}
